<mat-card [ngClass]="{'text-center':!fullWidthMode}">
    <div [ngClass]="{'flex':fullWidthMode}">
        <img src="https://via.placeholder.com/150" class="mb-1 mx-auto h-[200px]" [ngClass]="{'h-[200px]':!fullWidthMode,'h-[360px]':fullWidthMode}">
        <div class="w-full" [ngClass]="{'flex flex-col p-8 justify-between':fullWidthMode}">
            <div>
                <h5>{{moreitems.category}}</h5>
                <p class="truncate hover:whitespace-normal">{{moreitems.title}}</p>
                <p *ngIf="fullWidthMode">{{moreitems.description}}</p>
            </div>
            <div class="flex justify-between p-3">
                <span class="text-red-400">{{moreitems.price| currency}}</span>
                <button>
                    <mat-icon>shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-card>