<mat-card class="mb-4">
    <div class="flex justify-between  p-6">
        <div>
            <button mat-button [matMenuTriggerFor]="sortByMenu">
                Sort by {{sort}}
                <mat-icon>expand_more</mat-icon>
            </button>
            <mat-menu #sortByMenu="matMenu">
                <button mat-menu-item (click)="onselectSort('Descending')">Descending</button>
                <button mat-menu-item  (click)="onselectSort('Ascending')">Ascending</button>
            </mat-menu>
        </div>
        <div class="flex items-center">
            <div>
                <button mat-button [matMenuTriggerFor]='menu'>
                    Show {{itemsShowCount}}
                    <mat-icon>expand_more</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onitemsSelect(12)">12</button>
                    <button mat-menu-item  (click)="onitemsSelect(24)">24</button>
                    <button mat-menu-item  (click)="onitemsSelect(36)">36</button>
                </mat-menu>
            </div>
            <button><mat-icon (click)="oncolumnchange(1)">view_list</mat-icon></button>
            <button><mat-icon  (click)="oncolumnchange(3)">view_module</mat-icon></button>
            <button><mat-icon  (click)="oncolumnchange(5)">view_comfy</mat-icon></button>
        </div>
    </div>
</mat-card>